
@{
    ViewBag.Title = "EISaticalIndex";
    int jp=ViewBag.jp;
    int avesalary = ViewBag.avesalary;
    int maxsalary=ViewBag.maxsalary;
    int minsalary=ViewBag.minsalary ;
    int eisatical = ViewBag.eisatical;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 就业评估</h3>
        <div class="row mt">
            <div class="col-lg-12">
                @*<div class="content-panel">*@
                    
                    
                        <!--视图显示-->
                        <div style="padding-top:50px;">
                            <!--就业率统计-->
                            <div class="col-md-4 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>就业率</h5>
                                    </div>
                                    <canvas id="serverstatus01" height="120" width="120" style="width: 120px; height: 120px;"></canvas>
                                    <script>
                                    var doughnutData = [
                                        {
                                            value: @jp,
                                            color: "#68dff0"
                                        },
                                        {
                                            value: 100-@jp,
                                            color: "#444c57"
                                        }
                                    ];
                                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                                    </script>
                                    <p>@DateTime.Now.ToString()</p>
                                    <footer>



                                        @*<div class="pull-right">*@
                                        <h5>就业率为：@jp</h5>
                                        @*</div>*@
                                    </footer>
                                </div>
                            </div>
                            <!--就业质量统计-->
                            <div class="col-md-4 mb">
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>就业质量</h5>
                                    </div>
                                    <canvas id="serverstatus02" height="120" width="120" style="width: 120px; height: 120px;"></canvas>
                                    <script>
                                    var doughnutData = [
                                        {
                                            value: @eisatical,
                                            color: "#68dff0"
                                        },
                                        {
                                            value: 100-@eisatical,
                                            color: "#444c57"
                                        }
                                    ];
                                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                                    </script>
                                    <p>@DateTime.Now.ToString()</p>
                                    <footer>




                                        <h5>就业质量为：@eisatical</h5>

                                    </footer>
                                </div>
                            </div>
                            <!--平均薪资统计-->
                            <div class="col-md-4 col-sm-4 mb">
                                <!-- REVENUE PANEL -->
                                <div class="darkblue-panel pn">
                                    <div class="darkblue-header">
                                        <h5>薪资分布情况</h5>
                                    </div>
                                    <div class="chart mt">
                                        <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[@minsalary,@avesalary,@maxsalary]"><canvas width="600" height="75" style="display: inline-block; width: 600px; height: 75px; vertical-align: top;"></canvas></div>
                                    </div>
                                    <p class="mt"><br></p>
                                    <footer>
                                        <h5>平均薪资：@avesalary 元</h5>
                                    </footer>
                                </div>

                            </div>
                        </div>
                    
                @*</div>*@
            </div>
        </div>
    </section>
</section>

