
@{
    ViewBag.Title = "JobIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FindJob.Model.T_Relation_RecruitInfo jobinfo = ViewBag.jobinfo;

}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 学生</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">

                    <div class="row mt">
                        <div class="col-lg-12">
                            @*<div class="form-panel">*@
                            <div align="center">
                                <h4 class="mb"><i class="fa fa-angle-right"></i> 职位描述</h4>

                                <form class="form-inline" role="form">

                                    <div class="form-group">
                                        职位名称：<label class="sr-only" for="exampleInputEmail2"></label>
                                        <input type="text" class="form-control" id="exampleInputEmail2" placeholder=@jobinfo.JobName readonly="readonly" name="JobName">
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2"></label>
                                        EPID：
                                        <input type="hidden" class="form-control" id="exampleInputPassword2" placeholder=@jobinfo.EnterpriseId name="EPId">
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2"></label>
                                        薪资：
                                        <input type="text" class="form-control" id="exampleInputPassword2" readonly="readonly" placeholder=@jobinfo.Salary>
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2"></label>
                                        工作地点：
                                        <input type="text" class="form-control" id="exampleInputPassword2" readonly="readonly" placeholder=@jobinfo.WorkPlace>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2"></label>
                                        招聘人数：
                                        <input type="text" class="form-control" id="exampleInputPassword2" readonly="readonly" placeholder=@jobinfo.Amount>
                                    </div>


                                    <h4 class="mb"><i class="fa fa-angle-right"></i> 职位要求</h4>
                                    <form class="form-inline" role="form">


                                        <textarea name="Experience" id="Experience" cols="100" rows="10" warp="virtual" readonly="readonly">@jobinfo.Requirement</textarea>


                                    </form>

                                    <input type="submit" name="Save" value="申请 " class="btn btn-primary btn-sm" style="margin: 0 auto" onclick="ApplyJob(@jobinfo.EnterpriseId,'@jobinfo.JobName')" />

                                </form>
                            </div>
                            @*</div>*@<!-- /form-panel -->
                        </div><!-- /col-lg-12 -->
                    </div>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->
        </div><!-- /row -->

    </section>
</section>
@section js{

        function ApplyJob(EPId, JobName) {
        
            $.ajax({
                type: "POST",
                url: "/Student/ApplyJob",
                traditional: true,
                data: {
                    EPId: EPId,
                    JobName: JobName
                },
                dataType: 'JSON',
                success: function (data) {
                    ////显示删除成功
                    //if (data.Code == 1) {
                    //    //window.confirm("确认删除");
                    //    $('#StuList').bootstrapTable('remove',
                    //        {
                    //            field: 'Id',
                    //            values: ids
                    //        });
                    //} else {
                    //    alert("删除失败");
                    //}
                }
            });
        }

    }



